body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

/* Screen */

.screen {
  width: 100vw;
  height: 100vh;

  background: url("wallpaper.jpg");
  background-size: cover;

  position: relative;
  overflow: hidden;
}

/* Icons */

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 25px;

  color: white;
  text-shadow: 1px 1px 2px black;
}

.icon {
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}

.icon p {
  font-size: 12px;
  margin: 5px 0 0;
}

/* Taskbar */

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;

  background: linear-gradient(#ff9acb, #ff69b4);
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;
}

.taskbar button {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Window */

#window {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.4);
}

.window-box {
  background: #fff0f6;
  width: 80%;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid hotpink;
}
